.divNotFound {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  a {
    text-decoration: none;
    color: rgba(240, 141, 242);
  }
  a:hover {
    color: rgb(116, 54, 117);
  }
}